body {
    display: flex;
    flex-wrap: nowrap;
    justify-content: center;
    background-color: black;
    color: red;
}
.logo {
    min-width: none;
    max-width: 100%;
}
.login {
    align-items: center;
}
.login-user {    
    display: flex;
    flex-direction: row;
}
.login-pass {
    display: flex;
    flex-direction: row;
}


.login-form {
    min-width: 500px;
    min-height: 200px;
    background-color: #343A40;
    border-radius: 25px;
    box-shadow: 5px 2px 2px red;
    display: flex;
    align-items: stretch;
}

/*
.login-form {
    background-color: #343A40;
    border-radius: 25px;
    box-shadow: 5px 2px 2px red;
    display: flex;
    
}
*/